body {
  background: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: red;
  padding: 1rem;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  background: #abc;
}

.navbar_left {

}

.navbar_right {
}

.hero {
  display: flex;
  align-items: center;
  background: blue;
  background-image: url('.bb-page/img/BusinessBoutique_Courses_HeroImage.jpg');
}

.card_left {
  background-image: image('img/BusinessBoutique_Courses_BIB.jpg');
}
