body {
  margin: 0;
}

* {
  background: #fff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.navbar_right {
  display: flex;
  flex-direction: column;
}

.hero {
  background: url('img/BusinessBoutique_Courses_HeroImage.jpg');
}

.card_left {
  background-image: image('img/BusinessBoutique_Courses_BIB.jpg');
}
