/* @import 'reset'; */
body {
  background: white;
}

a {
  text-decoration: none;
  color: black;
  padding: 1rem;
}


.container {
  display: flex;
  justify-content: space-between;
}


.navbar_right {
}

.hero {
  display: flex;
  align-items: center;
  background: url('./img/BusinessBoutique_Courses_BIB0.jpg') top center;

}

.card_left {
  background-image: image('img/BusinessBoutique_Courses_BIB.jpg');
}
